body {
    background-color: aqua;
}

.para {
    background-color: yellow;
    height: 100px;
    width: 500px;
    font-size: 20px;
    font-weight: normal;
    font-family: cursive;
    padding: auto;

}

#pfirst {
    border: 5px solid red;
    border-radius: 10px;
}

#psecond {
    border-top: 5px solid red;
    border-left: 5px solid green;
    border-bottom: 5px solid red;
    border-right: 5px solid green;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#pthird {
    height: 500px;
    width: 900px;
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg');
    border: 5px solid red;
    color: yellowgreen;
    background-repeat: no-repeat;
    background-position: center center;
}