.container {
    display: block;
    width: 50rem;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

ul li {
    list-style: none;
}

input[type='text'] {
    border: 5px solid yellow;
}

input[type='email'] {
    border: 3px solid red;
}

a {
    text-decoration: none;
}

a[target='_blank'] {
    font-size: 30px;
    font-weight: bolder;
}

a[target='_self'] {
    font-size: 40px;
    color: red;
}

/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}


/* nth child pseduo selector */
li:nth-child(3) {
    color: red;
}

li:nth-child(2n+0) {
    color: yellow;
}

div:nth-child(1) {
    background: pink;
}

.form-control {
    border: 5px solid red;
}